:root {
    --boxShadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

header {
    padding: 20px 0 0 0;
    background: white;
    box-shadow: var(--boxShadow);
}
/* @media (min-width: 750px) {
    header {
        text-align: left;
    }
} */

ul {
    list-style: none;
}

main {
    background-color: hsl(0, 0%, 98%);
}

.search {
    box-shadow: var(--boxShadow);
    border: 0;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown p {
    box-shadow: var(--boxShadow);
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    background-color: #fff;
}

.dropdown .open {
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.dropdown ul li {
    display: block;
    padding: 10px 10px 10px 20px;
    margin: 0;
    width: 100%;
}

.dropdown .hide  {
    display: none;
}

.dropdown:hover p {
    background-color: rgba(0, 0, 0, 0.06);
}

.dropdown ul li:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.country {
    margin-bottom: 4%;
}
.card {
    border: 1px solid #e1e1e1;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--boxShadow);
    /* background-color: var(--background-element); */
    overflow: hidden;
}

.country-flag img {
    width: 100%;
    
}

.info-card {
    padding: 19px;
}
.info-card p {
    margin-bottom: 2px;
}

@media (min-width: 550px) {
    .row.filter-bar {
        padding: 4% 0 4% 4%;
    }

    .country-flag img {
        height: 200px
    }

    .three.columns {
        width: 21%;
    }

  .columns.country:first-child {
    margin-left: 4%; }
}